.signInForm {
  width: 384px;
  margin: 0 auto;
  padding: 48px 32px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.25);
}

.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  color: #262626;
}

.formGroup {
  margin-bottom: 12px;

  .label {
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
  }

  .input {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;

    &::placeholder {
      color: #bfbfbf;
    }
  }

  .inputError {
    border-color: #f5222d;
  }
}

.passwordInputContainer {
  position: relative;

  .input {
    padding-right: 32px;
  }

  .passwordToggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #bfbfbf;
    z-index: 2;

    &:hover {
      color: #1890ff;
    }
  }

  .eyeIcon {
    font-size: 16px;
  }
}

.submitButton {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background: #1890ff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;

  &:disabled {
    background: #d9d9d9;
    cursor: not-allowed;
  }
}

.signupText {
  margin-top: 8px;
  font-size: 12px;
  text-align: center;
  color: #8c8c8c;

  .link {
    color: #1890ff;
    text-decoration: none;
  }
}

.errorMessage {
  color: #f5222d;
  font-size: 12px;
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.errorIcon {
  display: inline-block;
  margin-right: 4px;
  font-weight: bold;
}

.serverError {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff6f6;
  border: 1px solid #ffcccc;
  border-radius: 4px;

  .inputError {
    border-color: #f5222d !important;
  }

  .errorMessage {
    color: #ff4d4f;
    margin: 0;
  }
}
